p {
  margin: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  text-indent: 0;
  text-align: left;
  line-height: normal;
  font-family: 'Times New Roman';
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
}
map > area {
  outline: none;
}
table.align-c {
  margin: 0 auto;
}
table.align-r {
  margin: 0 0 0 auto;
}
img {
  border: none;
}
.float-pos-l {
  float: left;
}
.float-pos-r {
  float: right;
}
.ts0 {
  font-family: Verdana;
  color: Black;
}
.ts1 {
  font-family: Verdana;
  font-size: 14pt;
  font-weight: bold;
  color: Black;
}
.ts2 {
  font-family: Tahoma;
}
.ts3 {
  font-family: Verdana;
}
.ts4 {
  font-family: Verdana;
  font-weight: bold;
}
.ts5 {
  font-family: Verdana;
  background-color: #c4d0f4;
}
.ts6 {
  font-family: Verdana;
}
.ts7 {
  font-family: Tahoma;
  color: Gray;
  background-color: White;
}
.ts8 {
  font-family: Verdana;
  font-weight: bold;
}
.ts9 {
  font-family: Tahoma;
}
.ts10 {
  font-family: Tahoma;
  font-weight: bold;
  color: Black;
}
.ts11 {
  font-family: Tahoma;
  color: Black;
}
.hs0 {
  font-family: Verdana;
  text-decoration: underline;
  color: Navy;
}
a.hs0:hover {
  color: Red;
}
.hs1 {
  font-family: Tahoma;
  text-decoration: underline;
  color: Gray;
  background-color: White;
}
.ps0 {
  padding-top: 2px;
  padding-left: 5px;
  font-size: 8pt;
}
.ps1 {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
}
.ps2 {
  padding-right: 5px;
  text-align: right;
  font-size: 8pt;
}
.ps3 {
  font-size: 4pt;
}
.ps4 {
  font-size: 10pt;
}
.ps5 {
  padding-bottom: 5px;
  font-size: 10pt;
}
.ps6 {
  padding-left: 1.27cm;
  text-indent: -0.64cm;
  font-size: 10pt;
}
.ps7 {
  font-size: 8pt;
}
.ps8 {
  text-align: center;
}
.ps9 {
  text-align: center;
  font-size: 10pt;
}
.ps10 {
  font-size: 11pt;
}
.ps11 {
  padding-top: 3px;
  text-align: center;
}
.ps12 {
  padding-bottom: 2px;
}
.ps13 {
  padding-top: 2px;
}
.hline0 {
  width: 100%;
  height: 1px;
  margin: 8px auto;
  background-color: Silver;
  border-style: none;
}
.tbl0 {
  width: 100%;
  border-collapse: collapse;
  border-style: none;
}
.tbl0 > tbody > tr.row0 {
  border-style: none;
}
.tbl0 > tbody > tr > td.cell0 {
  width: 15px;
  vertical-align: top;
  border-style: none;
}
.tbl0 > tbody > tr > td.cell1 {
  vertical-align: top;
  border-style: none;
}
.tbl0 > tbody > tr > td.cell2 {
  width: 100px;
  vertical-align: middle;
  border-style: none;
}
.tbl1 {
  width: 100%;
  border-collapse: collapse;
  border-style: solid;
  border-width: 2px;
  border-color: #bdcbdb;
}
.tbl1 > tbody > tr.row0 {
  border-style: none;
}
.tbl1 > tbody > tr > td.cell0 {
  width: 6px;
  vertical-align: top;
  border-style: none;
  background-color: White;
}
.tbl1 > tbody > tr > td.cell1 {
  vertical-align: top;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  border-bottom-width: 3px;
  border-bottom-color: #e6e6e6;
  background-color: #e4eef6;
}
.tbl1 > tbody > tr > td.cell2 {
  vertical-align: top;
  border-style: none;
  background-color: White;
}
.tbl1 > tbody > tr > td.cell3 {
  width: 6px;
  height: 22px;
  vertical-align: top;
  border-style: none;
  background-color: #c5dbef;
}
.tbl1 > tbody > tr > td.cell4 {
  vertical-align: middle;
  border-style: none;
  background-color: #c5dbef;
}
.tbl1 > tbody > tr > td.cell5 {
  width: 6px;
  vertical-align: top;
  border-style: none;
  background-color: #c5dbef;
}
.tbl2 {
  width: 100%;
  border-collapse: collapse;
  border-top-style: dotted;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-width: 1px;
  border-top-color: Silver;
}
.tbl2 > tbody > tr.row0 {
  border-style: none;
}
.tbl2 > tbody > tr > td.cell0 {
  width: 46px;
  height: 46px;
  vertical-align: top;
  padding: 2px;
  border-style: none;
}
.tbl2 > tbody > tr > td.cell1 {
  vertical-align: middle;
  padding: 2px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  border-bottom-width: 1px;
  border-bottom-color: Gray;
}
.tbl2 > tbody > tr > td.cell2 {
  vertical-align: top;
  padding: 2px;
  border-style: none;
}
.tbl2 > tbody > tr > td.cell3 {
  vertical-align: middle;
  padding: 2px;
  border-style: none;
}
.tbl3 {
  width: 100%;
  border-collapse: collapse;
  border-top-style: dotted;
  border-right-style: none;
  border-bottom-style: dotted;
  border-left-style: none;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-color: Silver;
  border-bottom-color: Silver;
}
.tbl3 > tbody > tr.row0 {
  border-style: none;
}
.tbl3 > tbody > tr > td.cell0 {
  width: 46px;
  height: 46px;
  vertical-align: top;
  padding: 2px;
  border-style: none;
}
.tbl3 > tbody > tr > td.cell1 {
  vertical-align: middle;
  padding: 2px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  border-bottom-width: 1px;
  border-bottom-color: Gray;
}
.tbl3 > tbody > tr > td.cell2 {
  vertical-align: top;
  padding: 2px;
  border-style: none;
}
.tbl3 > tbody > tr > td.cell3 {
  vertical-align: middle;
  padding: 2px;
  border-style: none;
}
.hs-mobile img.hs-fullwidth-m {
  width: 100%;
  height: auto;
  float: none;
}